body{
    margin: 0;
}

label{
    display: block;
}

input{
    display: block;
}

.mudarCss{
    display: grid;
    grid-template-columns: 200px, 1fr;
    grid-gap: 30px;
    padding: 30px;
}

#controle{
    font-size: .875ren;
    background: #eee;
    padding: 1rem;
    border-radius: 4px;

}